/* App.css */
.movie-detail {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100px;
  }
  
  .movie-detail img {
    max-width: 200px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  .movie-inf {

    flex: 1;
    color: white;
    display: flex;
    flex-direction: row;

  }
  .movies_img{
    width:800px;
    height: 600px;
    padding-left: 50px;
  }
  .imge{
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    padding-left: 50px;
    
  
  }
  .containe{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .data{
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    display: flex;
    
    flex-direction: column;
  }
  .movie-page {
    display: flex;
    padding: 20px;
  }
  
  .comments-section {
    padding: 20px;
    background-color: #000;
    color: white;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 140px;
    width: 1300px;
  }
  

  
  
  
  .movie_img{
    width: 450px;
    height: 450px;
    padding-left: 170px;
  }
  /* Add more styling as needed */

  .star-rating {
    display: inline-block;
  }
  
  .star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }
  
  .filled {
    color: gold;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height:auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  
  }
  .overlay-content {
    background-color: black;
    padding: 20px;
    margin-top: 80px;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .arw{
    position:absolute;
    top: 70px;
    left: 30px;
    color: white;
    cursor: pointer;
    

  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
  }
  .relate{
    margin-top: 15;
  }
  .contain_data{
    padding-top: 50px;
  }
  @media (max-width: 850px) {
    .overlay{
      justify-items: start;
      width: 350px;
      padding-left: 100px;
    }
    .movie_img{
      width: 150px;
      height: 150px;
      padding-left: 20px;
    }
    .close-button{
      top:0;
    }
    .overlay-content {
      width: 95%; /* Adjust the width as needed */
      padding: 5px;
    }
    .movie-inf{
      flex-direction: column;
    }
    .imge{
      padding-left: 30px;
      width: 300px;
    }
  
  }    
  

  @media (max-width: 500px) {
    .overlay{
      justify-items: start;
      width: 400px;
      padding-left: 10px;
    }
    .overlay-content {
      width: 250px;
      left:0 /* Adjust the width as needed */
    }
    .close-button{
      top:10px;
    }
    .movie_img{
      padding-left: 50px;
    }
    .imge{
      width: 350px; 
      padding-left: 5px;
      padding-top: 0;
    }
    .arw{
      padding-top: 50px;
    }
    .contain_data{
      padding-top: 80px;
    }
    .data{
      width: 250px;
    }
  }

  
  
  
  
  
  
  
  