.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    white-space: nowrap;
    position: relative;
}
 
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
}
.image-scroll-row {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .scroll-buttons {
    display: flex;
    align-items: center;
  }
  

  
  .scroll-menu-container {
    flex: 1;
    overflow-x: hidden;
  }
  
  .menu-item {
    display: inline-block;
    padding: 0 10px;
  }
  .arrow_div{
  height: 100%;
  width: 50vh;
  opacity: 1.67;
  position: fixed;
  justify-self: end;
  background-color: #fff;
  }

  .arrow{
    size: 40;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;

  }
  .arrow:hover{
    opacity: 1;
  }
  .menu-item img {
    max-width: 100px;
    height: auto;
  }
  
.row{
    background-color: black;
    position: relative;
    overflow-y: auto;
}
.row_posters:hover .img_description{
    
    visibility: visible;
  opacity: 1;

}
.row_posterLarge{
max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.20);
}
.row_poster:hover{
    transform: scale(1.08);
}

  
.img_description{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    
}

@media(max-width:400){
  .row{
    width: 400px;
  }
}